<head>
	<% include partial/head.ejs %>
</head>

<form action="/admin" method="post">
	<input type="password" name="login" placeholder="login">
	<input type="password" name="password" placeholder="pass">
	<input type="submit" value="Send">
</form>
