<head>
	<% include partial/head.ejs %>
	<meta name="title" content="Contact - Plus42">
	<title>Contact - Plus42</title>
	<link rel="stylesheet" type="text/css" href="css/index.min.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>


<div id="layer">
<div id="wrapper">
<div id="container" style="text-align: center;">
<% include partial/header.ejs %>
	<form action="/contact" method="post" encType="application/x-www-form-urlencoded">
			<p>no html. no script. no bullshit. thx. bye.</p>
		<div id="div-contact">
			<% if (error) { %>
				<p style="color: tomato;"><%= error %></p>
			<% } %>
			<% if (success) { %>
				<p style="color: lightgreen;"><%= success %></p>
			<% } %>
			<input id="email" type="email" name="email" placeholder="Email">
			<textarea id="message" name="message" maxlength="1000" onkeyup="counter(this);" placeholder="Message"><%= message %></textarea>
			<div data-theme="dark" class="g-recaptcha" data-sitekey="<%= publicKey %>" data-size="normal"></div>
			<p><a href="/pgp" target="_blank" style="text-decoration: underline; color: inherit;">PGP</a></p>
			<input class="btn btn-contact" type="submit" value="Send">
			<span id="counter">1000</span>
		</div>
	</form>
</div>
</div>
</div>

<script>
	function counter(text) {
		document.getElementById('counter').innerHTML = 1000 - text.value.length;
	}
</script>
