<head>
	<% include partial/head.ejs %>
	<meta name="title" content="Report - uploadme.cc">
	<title>Report - uploadme.cc</title>
	<link rel="stylesheet" type="text/css" href="../css/index.min.css">
</head>


<div id="layer">
<div id="wrapper">
<div id="container" style="text-align: center;">
	<header>
		<div id="illuminati"><a href="/"><img id="illuminati-img" src="../images/eye2.png" alt="Illuminati"></a></div>
	</header>

	<p>Thank you</p>
</div>
</div>
</div>
