<head>
	<% include partial/head.ejs %>
</head>

<link rel="stylesheet" type="text/css" href="../css/index.css">

<header>
	<div id="illuminati"><a href="/"><img id="illuminati-img" src="images/eye2.png" alt="Illuminati"></a></div>
</header>

<div id="container" style="text-align: center;">
	<p>Thank you</p>
</div>
