<head>
	<% include partial/head.ejs %>
	<meta name="title" content="Report - Plus42">
	<title>Report - Plus42</title>
	<link rel="stylesheet" type="text/css" href="../css/index.min.css">
</head>


<header>
	<div id="illuminati"><a href="/"><img id="illuminati-img" src="../images/eye2.png" alt="Illuminati"></a></div>
</header>

<div id="container" style="text-align: center;">
	<p>Thank you</p>
</div>

<% include partial/footer.ejs %>
