body {
	background-color: rgb(34, 34, 34);
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
}

header {
	text-align: center;
}

#illuminati-img {
	width: 100px;
	height: 100px;
	margin: auto;
}

#header-download {
	margin-bottom: 40px;
}

#file {
	font-size: 20px;
	width: 100%;
	height: 30px;
	margin: 10px 0px 10px 0px;
	cursor: pointer;
}

#upload {
	position: relative;
	bottom: 10px;
}

ul {
	width: 40%;
	display: inline-block;
}

.btn {
  background: #a0a0a0;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 36px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 cursor: pointer;
 border: none;
}

.btn:hover {
  background: #808080;
  text-decoration: none;
  outline: none;
}

.btn-select-file {
	font-size: 20px;
	width: 100%;
	height: 100%;
}

.btn-download {
	padding: 5px 8px 5px 8px;
	width: 49%;
}

#label-file {
	width: 100%;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}

.td-left-index {
	min-width: 150px;
	height: 40px;
	text-align: center;
}

.td-left-download {
   min-width: 70px;
}

#input-url {
	font-size: 15px;
}

#input-link {
	width: 98%;
	font-size: 15px;
}

table {
	width: 100%;
	overflow: auto;
	margin-bottom: 20px;
}

td {
	max-width: 170px;
}

#qrcode-div {
	width: 159px;
	height: 159px;
	margin: auto;
	margin-top: 30px;
	overflow: hidden;
}

#qrcode-img {
	position: relative;
	top: -9px;
	left: -9px;
}

@media screen and (min-device-width: 500px) {
	#container {
		width: 400px;
		margin: auto;
		overflow: auto;
	}

	#td-checkurl {
		position: relative;
		left: -17px;
	}
}

@media screen and (max-device-width: 500px) {
	#container {
		width: 330px;
		margin: auto;
		overflow: auto;
	}

	.td-left-index {
		min-width: 110px;
		height: 40px;
		text-align: center;
	}

	.btn {
		padding: 6px 12px 6px 12px;
		font-size: 30px;

	}
	.btn-select-file {
		padding: 5px 5px 5px 5px;
		font-size: 18px;
	}

	input {
		max-width: 160px;
	}

	ul {
		font-size: 12px;
	}

	#td-checkurl {
		position: relative;
		left: -10px;
	}
}
