<footer>
	<table>
		<tr>
			<td class="td0" id="td00"><img class="btc-logo" src="images/btc15px.png" alt="Bitcoin logo"></td>
			<td class="td0" id="td01">1Fc997wMNn9CY3jTsLmYxxzyrxPxDMU3EJ</td>
			<td class="td0" id="td02"><img class="btc-logo" src="images/btc15px.png" alt="Bitcoin logo"></td>
		</tr>
	</table>
	<a href="/contact">Contact</a>
</footer>
